﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 25px;
    padding-right: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

#sidebar {
    height: 75%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 25%;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding: 20px;
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 512px) {
    #sidebar {
        padding : 10px;
    }
}
@media screen and (max-height: 346px) {
    #sidebar {
        top: 50%;
        height: 50%;
        padding : 8px;
    }
}


#beaver {
    height: auto;
}

#rnav {
    padding-left : 30px;
}